Package: @@PACKAGENAME@@
Name: @@FULLPROJECTNAME@@
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome CCSupport module provider!
Maintainer: @@USER@@
Author: @@USER@@
Section: Control Center (Provider)
